<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <div data-alert class="alert-box <%= key %> round">
        <%= value %>
        <a href='#' class='close'>&times;</a>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="/directory-api.js"></script>
  </body>
</html>
